.heading{
    font-family: "Snell Roundhand";
    font-size: 60px;
    font-weight: normal;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.container{
    margin: 5px;
}
.box{
    border: 2px solid black;
    padding: 7px;
}

.row1{
    display: flex;
}
.quarter{
    width: 25%;
}
.half{
    width: 50%;
}
.row2{
    display:flex;
    
}
.left-row2{
    width: 24%;
}
.right-row2{
    display: flex;
    flex-direction: column;
    width: 75%; 
    border: 2px solid black;
}
.right-row2 a{
    color: rgb(99, 94, 94);
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    font-family: "Futura";
    font-weight: bold;
    flex: 1;
    padding-left: 25px;
    align-items: center;
}
.right-row2 a:hover{
    text-decoration: underline;
}
.politics{
    background-color: rgb(248, 224, 9);
}
.tech{
    background-color: rgb(94, 200, 214);
}
.local{
    background-color: rgb(95, 216, 200);
}
.opinion{
    background-color: rgb(118, 162, 221);
}
.sports{
    background-color: rgb(125, 126, 211);
}




